{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
        <div class="features">
        <h1>Про нас</h1>
        <p>В настоящее время СМИ очень сильно влияют на мировоззрение людей. Это совершенно не удивительно, ведь практически каждый человек стремится быть в курсе последних новостей, т.к. это дает ему возможность видеть целостную картину происходящего. Однако в данном вопросе необходимо соблюдать осторожность: на каждую отдельную ситуацию существует несколько точек зрения, поэтому в первую очередь лучше ознакомляться с подтвержденными фактами.
            Также стоит заметить, что многие люди черпают информацию из Интернета. Это связано с тем, что создано большое количество новостных порталов, доступ к которым является круглосуточным. Сайты публикуют самые последние известия, которые могут заинтересовать читателя. Однако в этом деле есть подводные камни: далеко не вся информация является достоверной. Именно поэтому стоит внимательно относиться к выбору новостного портала.
            В настоящее время большой популярностью пользуется сайт News360. Ни для кого не секрет, что этот веб-ресурс является достоверным источником информации, а официальный сайт — достойная альтернатива.</p>
    </div>
{% endblock %}