{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed consequat nulla. Quisque et nulla eget arcu blandit fermentum sit amet bibendum orci. Nam et gravida eros. Pellentesque in urna sit amet urna volutpat imperdiet. Phasellus mattis tincidunt sapien. Maecenas sagittis suscipit aliquam. Maecenas pretium ligula justo, ac dignissim sapien venenatis nec. Aliquam mollis odio ac arcu faucibus faucibus.</p>
        <button class="btn btn-warning">На страницу про нас</button>
    </div>
{% endblock %}